* {
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 120vh;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;

}

button {
    font-family: 'Press Start 2P', cursive;
}

input {
    font-family: 'Press Start 2P', cursive;
    font-weight: lighter;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/e7/b1/91/e7b19173773a88ce5744bd8e43e615b9.png");
    background-repeat: no-repeat;
    background-size: cover;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
    text-align: left;
}

body {
    background-image: url("https://i.pinimg.com/originals/d0/e0/e2/d0e0e259bf0aba4da742bedff1d4b8a5.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;

}

.container {
    box-sizing: border-box;
    height: 85vh;
    width: 50rem;

    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(8rem, auto);
    justify-content: center;

    border-radius: 40px;
    background-color: rgb(12, 30, 69, .8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);

}

.container * {
    opacity: 1;
}

.textHeadline {
    grid-column: span 2;

}

.currentGameStatus {
    font-size: 1rem;
    width: auto;
    height: 2.5rem;
    text-align: center;
    grid-column: span 2;
    margin: 20px 0px 0px 0px;
    padding: 0px;

}


.playerStatus {
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
}

.compBoardContainer {
    width: auto;
    height: auto;
    grid-column: span 1;

    display: grid;
    place-items: center;
}

.compBoard {
    width: 30vh;
    height: 20vh;
    background-color: #79ba64;
}

.userBoardContainer {
    width: auto;
    height: auto;
    grid-column: span 1;

    display: grid;
    place-items: center;
}

.userBoard {
    width: 30vh;
    height: 20vh;
    background-color: #8e838d;
}

.bottomBoard {
    width: 60%;
    height: 90%;

    grid-column: span 2;
    text-align: center;

    display: grid;
    place-items: center;

    border-radius: 40px;

}

.inputContainer {
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.userInput {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .6rem;

    padding: 4px;
    margin: 0px 0px 0px 0px;

    background-color: rgb(188, 64, 64);
    border: 4px solid rgb(188, 64, 64);
    border-radius: 20px 0px 0px 20px;
}

/* Input Box */
.inputAttack {
    width: 3.5rem;
    height: 2rem;

    color: black;
    margin: 0px 7.5px 0px 0px;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid rgb(188, 64, 64);
    font-size: .7rem;
    padding-left: .6rem;
}

.fireBtn {
    margin: 0px 0px 0px 7.5px;
    width: 5rem;
    height: 2rem;

    background-color: #c02e05;
    color: rgb(241, 248, 30);
    border: none;
    border-radius: 25px;
    text-align: center;
}

.fireBtn:focus {
    background-color: black;
    border: red 2px solid;
    color: red;
}


.fireBtn:hover {
    background-color: black;
    border: red 2px solid;
    color: red;
}

.restartBtn {
    width: 7rem;
    height: 2rem;
    background-color: #36da9e;
    border: none;
    border-radius: 30px;
}

.restartBtn:hover {
    border: 2px solid #36da9e;
    background-color: white;
    color: black;
}

.cells {
    width: .5rem;
    height: .5rem;
}

.hit {
    background-image: url("./images/hit.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.miss {
    background-image: url("./images/missed.png");
    background-repeat: no-repeat;
    background-size: contain;
}